{%- assign translation_key = page.translation_key -%}
{%- if translation_key -%}
  {%- assign site_lang = page.lang | default: site.default_lang | default: 'en' -%}
  {%- assign en_href = nil -%}
  {%- assign es_href = nil -%}

  {%- assign en_page = site.pages | where: 'translation_key', translation_key | where: 'lang', 'en' | first -%}
  {%- assign es_page = site.pages | where: 'translation_key', translation_key | where: 'lang', 'es' | first -%}
  {%- assign en_post = site.posts | where: 'translation_key', translation_key | where: 'lang', 'en' | first -%}
  {%- assign es_post = site.posts | where: 'translation_key', translation_key | where: 'lang', 'es' | first -%}

  {%- assign en_match = en_page | default: en_post -%}
  {%- assign es_match = es_page | default: es_post -%}

  {%- if en_match -%}
    {%- assign en_href = en_match.url -%}
  {%- endif -%}
  {%- if es_match -%}
    {%- assign es_href = es_match.url -%}
  {%- endif -%}

  {%- if en_href == nil or es_href == nil -%}
    {%- assign fallback_en = '/' -%}
    {%- assign fallback_es = '/es/' -%}
    {%- if page.collection == 'posts' -%}
      {%- assign fallback_en = '/posts/' -%}
      {%- assign fallback_es = '/es/posts/' -%}
    {%- endif -%}

    {%- if en_href == nil -%}
      {%- if site_lang == 'es' and page.translated_url and page.translated_url != blank -%}
        {%- assign en_href = page.translated_url -%}
      {%- else -%}
        {%- assign en_href = fallback_en -%}
      {%- endif -%}
    {%- endif -%}

    {%- if es_href == nil -%}
      {%- if site_lang == 'en' and page.translated_url and page.translated_url != blank -%}
        {%- assign es_href = page.translated_url -%}
      {%- else -%}
        {%- assign es_href = fallback_es -%}
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}

  <link rel="alternate" hreflang="en" href="{{ en_href }}">
  <link rel="alternate" hreflang="es" href="{{ es_href }}">
  <link rel="alternate" hreflang="x-default" href="{{ en_href }}">
{%- endif -%}
